{% extends 'base.html.twig' %}
{% block title %}Academy of Starfighting{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Copyright ou left</h1>

                </div>
            </div>
        </div>
    </header>

    <main id="copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Mais non voyons.</p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}