{% extends 'base.html.twig' %}
{% block title %}About the Academy of Starfighting{% endblock %}



{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Ce site ?</h1>

                </div>
            </div>
        </div>
    </header>

    <main id="homepage">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Nous deterrons un vieux film de science-fiction pour s'exercer avec le framework Symfony...</p>
                    <p>L'idee est d'enregistrer une liste de pilotes et de leurs leaders d'esquadrille. Ca ne marche pas encore !</p>
                    <p>Cette experience est menee sur un Macbook Pro 13 US (desole pour les accents) plus tout jeune, avec le recent Xampp-VM, VS Code et Symfony 3 / Twig / Boostrap 4.</p>
                    <p><a href="https://github.com/kodliber/sfa">Le depot Git est ici</a></p>
                    <img src="https://insight.sensiolabs.com/projects/e328d1f5-c7b9-4758-9865-64d86a9f02af/big.png" alt="le badge Sensio Labs pour cette application.">

                </div>
            </div>
        </div>
    </main>

{% endblock %}