{% extends 'base.html.twig' %}
{% block title %}Academy of Starfighting{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Au rapport</h1>

                </div>
            </div>
        </div>
    </header>

    <main id="homepage">
        <div class="container">
            <div class="row">
                <div class="col">

                    <p>En entrant dans la Starfighter Academy, tu rejoins l'elite de la defense de la Terre.</p>
                    <p>Sois digne de notre confiance.</p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}