{% extends 'base.html.twig' %}
{% block title %}Academy of Starfighting - contact the webmaster{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm col-md col-lg">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </header>

    <main id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm col-md col-lg">
                    <p>Pour me contacter, voir mon site <a href="http://www.dinh.mobi">dinh.mobi</a></p>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}