{% extends 'base.html.twig' %}
{% block title %}About the Academy of Starfighting{% endblock %}



{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Ce site ?</h1>

                </div>
            </div>
        </div>
    </header>
{# je sais pas quoi faire #}
    <main id="homepage">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Nous deterrons un vieux film de science-fiction pour s'exercer avec le framework Symfony.</p>
                    <p>Cette experience est menee sur un Macbook Pro 13 plus tout jeune, avec le recent Xampp-VM, VS Code et Symfony 3.</p>

                </div>
            </div>
        </div>
    </main>

{% endblock %}