
body{
    box-sizing: border-box;
    background-image: url(../img/sfa-home.jpg);
    background-size: cover;
    background-position: top;

}

nav{
    /* background-color: antiquewhite; */
}

header{
    /* background-color: antiquewhite; */
}

h1{
    color: white;
}

#menu{
    background-color: darkgray;
}
#homepage, #contact, #copyright, #about {
    color: white;
}